.banner {
  background-image: url('https://images.unsplash.com/photo-1581090700227-1e8a6c219842'); /* можешь заменить */
  background-size: cover;
  background-position: center;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 12px;
}

.banner p {
  font-size: 18px;
}
